<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
</head>

<body>
    <!-- Create your text area form here -->
    <form action="/myForm" method="POST">
        <textarea type="text" name="movies" rows="2" placeholder="Movies Seperated by comma" ></textarea>
        <input type="submit" value="Send">
    </form>
</body>

</html>